@{ViewBag.Title = ViewBag.CurrentUser.Name;}
<br />
<br />
<h2>Welcome, @ViewBag.CurrentUser.Name</h2>

<a href="/User/GameFinder?userID=@ViewBag.CurrentUser.ID" class="btn is-success">Find Game</a>
<a href="/User/EditAnswers?id=@ViewBag.CurrentUser.ID" class="btn is-primary">Edit Answers</a>
<a href="/User/DeleteUser?id=@ViewBag.CurrentUser.ID" onclick="return confirm('Are you sure you want to delete this user?')" class="btn is-error" name="DeleteUser">Delete User</a>
<a href="/Home/Index" class="btn is-warning">Sign Out</a>

<br />
<br />
<br />

<section class=" with-title">
    <table class="table is-bordered is-center">
        <tr>
            <th>Liked Games:</th>
        </tr>
        @foreach (GameAndChill.Models.User_Game game in ViewBag.CurrentUser.User_Game)
        {
            if (game.IsLike == true)
            {
                <tr>
                    <td>
                        <img src="@game.Game.ImageURL" />
                    </td>
                    <td>
                        @game.Game.Name
                    </td>
                    <td><a href="/Game/Details?id=@game.GameID&UserID=@ViewBag.CurrentUser.ID" class="btn is-primary">Details</a></td>
                    <td><a href="@game.Game.URL" target="_blank" class="btn is-success">Link</a></td>
                    <td><a href="/User/RemoveGame?GameID=@game.GameID&UserID=@ViewBag.CurrentUser.ID" class="btn is-error">Remove</a></td>
                </tr>
            }
        }
    </table>
</section>