
@{
    ViewBag.Title = "Questions";
}

<h2>Hello @ViewBag.CurrentUser.Name Here are some Questions you need to answer</h2>

<label>Question 1</label>
<p>@*Filling the question for the time being*@Favorite Disney Character</p>
<select>
    <option value="1">Ariel</option>
    <option value="2">Jasmine</option>
    <option value="3">Belle</option>
    <option value="4">Cinderella</option>
</select><br /><br />
