
<h2>Add User</h2>

<form action="/User/AddUser" method="post">
    <label>Name</label>
    <input type="text" name="Name" required />
    <input type="submit" value="Add User"/><br /><br />
</form>

<a href="/Home/Index">Cancel</a>

