
<br />
@{
    ViewBag.Title = "Add Games";
}

<h2>Add Games</h2><br /><br />
<h3>Pulling Games From API</h3>

<form action="/Game/AddGamesToDb" method="post" onsubmit="return Checknumbers()">
    <label>From</label>
<input type="number" min="1" max="1000000" name="startId" id="startID" onchange="return Checknumbers()" required />
    <label>To</label>
    <input type="number" min="1" max="1000000" name="endId" id="endID" onchange="return Checknumbers()" required/>
    <span id="Error"></span>
    <input type="submit" value="Retrieve Games"/>
</form>

<script type="text/javascript" >
    function Checknumbers() {
        var start = document.getElementById("startID").value;
        var end = document.getElementById("endID").value;
        if (start < 1 || end < 1) {
            return false;
        }
        else if (end < start) {
            document.getElementById("Error").innerHTML = "The latter must be greater than the former";
            return false;
        }
        document.getElementById("Error").innerHTML = "";
        return true;

    }
</script>