@*Details of a specific game*@
<h2>@*Game Title*@</h2>

<p>Name: @*Name*@</p>
<p>Summary: @*Summary*@</p>
<p>Genre: @*foreach Genre*@</p>
<p>Keyword: @*foreach Keyword*@</p>
<p>Platform: @*foreach Platform*@</p>
<p>@*IGDB link*@</p>

<a href="/User/Index">Back to User Home</a>



