<ul>
    @*Example of Game Details*@
    @foreach(dynamic item in ViewBag.GameInfo)
    {
    <li>ID: @item.GetValue("id")</li>
    <li>Name: @item.GetValue("name")</li>
    <li>Summary: @item.GetValue("summary")</li>
    <li><img src="http:@item["cover"].GetValue("url")"/></li>
    }
    
</ul>

