<br/>
<ul>
    <li>
        <a href="/Game/AddGameToDB?id=@ViewBag.GameInfo["id"]">Add to DB</a>

    </li>
    <li>
        <a href="/Game/AddGenresToDB">Add Genres to DB</a>
    </li>
    <li>
        <a href="/Game/EditGenres">Edit Genres</a>
    </li>
    <li>
        <a href="/Game/AddGames">Add Games</a>
    </li>
    <li>
        <a href="/Game/ListAllGames">List Of All Games</a>
    </li>
    @*Example of Game Details*@




</ul>

