@{ViewBag.Title = "James";}
<br />
<h3>Admin Page</h3>
<ul>
    <li>
        <a href="/Game/ListAllGames">List Of All Games</a>
    </li>
    <li>
        <a href="/Game/AddGenresToDB">Fail Safe to add Genre's to DB</a>
    </li>
    <li>
        <a href="/Game/EditGenres">Edit Genres</a>
    </li>
    <li>
        <a href="/Game/AddGames">Add Games</a>
    </li>
    @*Example of Game Details*@




</ul>

