<br />
@{
    ViewBag.Title = "List of all games";
}

<h2 style="display:inline">List All Games</h2>
<form style="display:inline; float:right" onsubmit="return CheckSearch()">
    <input type="search" name="search" id="search" /> <input type="submit" value="Search" />
</form>

<table class="table-bordered">

    @foreach (var game in ViewBag.ListOfGames)
    {
        <tr>
            <td>
                <img src="@game.ImageURL" />
            </td>
            <td>
                @game.Name
            </td>
            <td>
                <a href="/Game/GameListDetails?id=@game.ID">Game Details</a>
            </td>
        </tr>
    }
</table>
@if (ViewBag.start != 0)
{
    if (ViewBag.start <= 100)
    {
        <a class="btn is-warning" href="/Game/ListAllGames?@ViewBag.search">PREV</a>
    }
    else
    {
        <a class="btn is-warning" href="/Game/ListAllGames?startAt=@(ViewBag.start-100)@ViewBag.IsSearch@ViewBag.search">PREV</a>
    }
}
@if (ViewBag.HasMore)
{
    <a class="btn is-success" href="/Game/ListAllGames?startAt=@(ViewBag.start+100)@ViewBag.IsSearch@ViewBag.search">NEXT</a>
}



<script type="text/javascript">
    function CheckSearch() {
        var search = document.getElementById("search").value;
        if (/<\w+>/.test(search)) {

            return false;
        }
        return true;
    }

</script>