<br/>
@{
    ViewBag.Title = "ListAllGames";
}

<h2>List All Games</h2>

<table class="table-bordered">
    @foreach (var game in ViewBag.ListOfGames)
    {
    <tr>
        <td>
            <img src="@game.ImageURL" />
        </td>
        <td>
            @game.Name
        </td>
        <td>
            <a href="/Game/Details?id=@game.ID">Game Details</a>
        </td>
    </tr>
    }
</table>

