<!DOCTYPE html>
<br/>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <img src="~/DuckHuntDog.gif" alt="Duck Hunt Dog" style="width:80px;height:80px;" />
        <p>@ViewBag.Error</p>
        <p>@TempData["error"]</p>
    </hgroup>
</body>
</html>
