<a href="/User/SignUp">Add User</a>
<br />
<h2>List Of Users</h2>
<ul>
    @*foreach loop for all users in DB*@
    <li>User 1</li>
    <li>User 2</li>
</ul>
<a href="/Game/Index">Test API (Print The Witcher 3 Details)</a>