@{ViewBag.Title = "Home";}
<br />
@TempData["Added"]
@TempData["Eulogy"]
<br />
<h3>Welcome to @*Will upload image here when the time comes*@ ConSoul.Find(<a href="/Game/Index">Game</a>)</h3>
<br />
<p><a href="/User/SignUp">Add New User</a></p>
<br />
<h2>List Of Users</h2>
<ul>
    @foreach (dynamic user in ViewBag.Users)
    {
        <li><a href="/User/Index?id=@user.ID">@user.Name</a></li>
    }
</ul>
<br />
