@{ViewBag.Title = "Home";}
<br />
@TempData["Added"]
@TempData["Eulogy"]
<br />
<h3>Welcome to ConSoul.Find(<a href="/Game/Index" class="nes-logo"></a>)</h3>
<br />
<img src="~/favicon.png" alt="ConSoul.Find(Game) NES Controller Image" align="right" />
<p><a href="/User/SignUp" class="btn">Add New User</a></p>
<br />
<h2>List Of Users</h2>
<ul>
    @foreach (dynamic user in ViewBag.Users)
    {
        <li><a href="/User/Index?id=@user.ID">@user.Name</a></li>
    }
</ul>
<br />
