<a href="/User/SignUp">Add User</a>
<br />
<h2>List Of Users</h2>
<ul>
    @foreach(dynamic user in ViewBag.Users)
    {
        <li><a href="/User/Index?id=@user.ID">@user.Name</a></li>
    }
</ul>
<a href="/Game/Index">Test API (Print The Witcher 3 Details)</a>