
<br/>
@TempData["Added"]
@TempData["Eulogy"]
<br />
<h3>Welcome to @*Will upload image here when the time comes*@ ConSoul.Find(Game)</h3>
<br/>
<p><a href="/User/SignUp">Add New User</a></p>
<br/>
<h2>List Of Users</h2>
<ul>
    @foreach (dynamic user in ViewBag.Users)
    {
        <li><a href="/User/Index?id=@user.ID">@user.Name</a></li>
    }
</ul>
<<<<<<< HEAD
<p><a href="/Game/ListAllGames">List Of All Games</a></p>
=======
<br />
<a href="/Game/Index">Games</a>
>>>>>>> Added View page for Adding Games
